.row
  = form_tag bookmarks_path, method: :get do
    .control-group
      .input-group
        = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search bookmarks by title, description or tags..'
        %span.input-group-btn
          = submit_tag nil, :class => 'btn btn-primary'
.row
  .page-header
    %h1
      = @header
.row
  .to-mason
    = render @bookmarks
  .clearfix
