- model_class = Bookmark
.page-header
  %h1=t '.title', :default => @bookmark.title

.container
  .row
    .col-md-6
      = link_to(image_tag(@bookmark.image_url || image_url('default-bookmark2.png'), style: 'max-width:100%'), @bookmark.url)
    .col-md-6
      %p
        %strong= model_class.human_attribute_name(:description) + ':'
        %br
        = @bookmark.description
        %br
        %br
      %p
        %strong= model_class.human_attribute_name(:keywords) + ':'
        %br
        = @bookmark.keywords
        %br
        %br
      %p
        %strong= model_class.human_attribute_name(:url) + ':'
        %br
        = link_to("#{@bookmark.url}", @bookmark.url)
        %br
        %br
      %p
        %strong= model_class.human_attribute_name(:short_url) + ':'
        %br
        = link_to("#{@bookmark.url}", @bookmark.short_url)
        %br
        %br
 
      .form-actions
        = link_to t('.back', :default => t("helpers.links.back")), bookmarks_path, :class => 'btn'
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_bookmark_path(@bookmark), :class => 'btn'
        = link_to t('.destroy', :default => t("helpers.links.destroy")), bookmark_path(@bookmark), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
